{
  "$schema": "https://json.schemastore.org/prettierrc",
  "plugins": [
    "prettier-plugin-packagejson",
    "prettier-plugin-svelte",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindStylesheet": "./src/app.css",
  "singleQuote": true
}
