# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# Generated artifacts
/src/paraglide/**
/project.inlang/cache/**
/project.inlang/.meta.json
/project.inlang/.gitignore

# Miscellaneous
/static/
